body
    color #333
    font-family 'Maven Pro', sans-serif
    font-size 16px
    margin 0
p
  margin 20px 0 0
h2
  color #8eb602
  font-size 19px
  font-weight 700
  line-height 21px
  margin 20px 0
  text-align center
.bold
  color #8eb602
  font-weight 700
.wrapper_landing
    margin 0 auto
    padding 0 20px
    position relative
    text-align center
.box
  border-bottom 1px dashed #ccc
  display inline-block
  margin 30px
  padding-bottom 20px
  vertical-align top
  width 400px
.frm_validate
  width 365px
  margin 30px auto 0
  text-align left
  &.vertical
    label
      display block
      float none
      line-height 22px
      &.ioption
        float left
        font-size 16px
        margin-left 70px				
        &:first-child
          margin 0
        &.ck
          padding-right 20px
    input[type="text"],input[type="email"],input[type="tel"]
      width 340px
    textarea
      width 340px
    .btn
      margin 0
  &.lesslabel
    label
      display none
      &.ioption
        display block
        font-size 16px
        line-height 18px
        margin-left 60px
        width 80px
        input[type="radio"]
          top 4px		
        &:first-child
          margin 0
        &.ck
          padding-right 20px
    input[type="text"],input[type="email"],input[type="tel"]
      width 340px
    textarea
      width 340px
    .btn
      margin 0
.form_control
  margin-bottom 15px
  *zoom 1
  &:before,&:after
    display table
    content ""
    line-height 0
  &:after
    clear both
  label
    margin 0
    float left
    font-size 16px
    line-height 35px
    width 90px
    &.ioption
      cursor pointer
      line-height 35px
      padding-left 20px
      position relative
      input[type="radio"],input[type="checkbox"]
        left 0
        margin 0
        padding 0
        position absolute
        top 12px
      &.ck
        font-size 13px
        line-height 16px
        margin-left 90px
        width auto
        input[type="checkbox"]
          top 2px
  input[type="text"],input[type="email"],input[type="tel"]
    background-color #fff
    border 1px solid #999
    border-radius 10px
    font 16px/30px 'Maven Pro', sans-serif
    height 30px
    padding 2px 10px
    width 250px
    &.error
      background-color #fcdddd
      border 1px solid #fc7d7d
  textarea
    background-color #fff
    border 1px solid #999
    border-radius 10px
    font 16px/19px 'Maven Pro', sans-serif
    height 70px
    padding 7px 10px
    width 250px
    &.error
      background-color #fcdddd
      border 1px solid #fc7d7d
.btn 
  background #333
  border none
  border-radius 6px
  color #fff
  cursor pointer
  font 17px/30px 'Maven Pro', sans-serif
  margin 0 0 0 89px
  padding 0px 20px
  &:hover
    background #8eb602
.test
  background #ccc
  border-radius 5px
  color #666
  margin 0 10px
  padding 3px 10px
  text-decoration none
  &:hover
    background #1f6ca7
    color #fff